@import 'alabaster.css';

/* The code language selector */
.container .code-language-selector-group {
   width: 100%;
}

.container .code-language-selector-inner {
   margin: 0 auto;
   width: 200px;
}
/* Color code in a distinctive color */
dl.function {
    background-color: #faeee0;
}

div.document {
    width: 1100px;
}