@import 'alabaster.css';

/* Color code in a distinctive color */
dl.function {
    background-color: #faeee0;
}

div.document {
    width: 1100px;
}

/* Unfortunately, bootstrap uses the "container" class. 
   We have to restore some values 
 */
div.tab-section-group.container {
    margin-left: -30px;
    margin-bottom: 30px;
}

/* The nested containers */
div.tab-section-group div.container {
    width: 900px;
    margin-left: 0px;
    padding-top: 10px;
}